# Django core settings
SECRET_KEY=your-secret-key-here
DEBUG=True
HOST=http://127.0.0.1:8000
ALLOWED_HOSTS=127.0.0.1,localhost
PAGE_SIZE=12
TEST_HEADLESS=True

# CORS / CSRF settings (optional)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:8000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:8000

# Storage
STORAGE_AWS=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

# Database
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=database-name
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Reports
BAR_CHART_ENDPOINT=https://your-graph-generator-url.com

# testing
TEST_BAR_CHART_ENDPOINT=https://your-graph-generator-url.com/

# Integrations
N8N_BASE_WEBHOOKS=https://your-n8n-url.com/webhook
