/media
/static
/staticfiles
info.txt
__pycache__/
.env*
.log
*pyc
temp.*
*temp.
*temp*.
*.xlsx

.vscode/
/json_data

/graphics
/utils/graphics

/temp_files

/venv

# AI CLI tool directories and config files
.claude/
.gemini/
.opencode/

# OpenSpec proposals
openspec/changes/*
!openspec/changes/archive/

# Docs
docs/

.antigravitycli

# .gitignore
# Ignore proposals
openspec/changes/*

# Do not ignore archived proposals
!openspec/changes/archive/

# skip docs
docs/

# ignore by default all hiden folders (like agents folders)
.*/
